@import "tailwindcss";

@theme {
  /* Suas cores do Condominus */
  --color-primary: #E25822;
  --color-primary-dark: #C14210;
  --color-secondary: #1B263B;
  --color-secondary-light: #2C3E50;
  --color-background: #F8F9FA;
  
  /* Suas fontes */
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-heading: "Montserrat", sans-serif;
}

/* Garante que o app ocupe a tela toda */
@layer base {
  html, body, #root {
    @apply h-full m-0 p-0;
  }
}